@font-face { font-family: geometria; src: url('Geometria.otf'); }

*, html, h1, h2, h3, h4, h5, h6 {
	font-family: "geometria", sans-serif;
}

p {
  margin-left: 10px;
	margin-right: 10px;
  margin-top: 6px; }

hr {
  border-bottom: 1px solid #FD6800; }

h1,
h2,
h3,
h4,
h6 {
  color: #FD6800; }

img {
	margin-top: 10px;
  margin-bottom: 10px; }

.top-bar,
.top-bar ul {
    background-color: #FD6800; }
  .top-bar a {
    color: #FFF; }
  .top-bar a:hover {
    color: #da5900;
  }
.top-bar p {
	  font-size: 1.8rem; }

#header-img {
  line-height: 40pt; }

.header {
	background-color: #FD6800; }
	.header h3 {
	color: #FFF; }
