@font-face { font-family: geometria; src: url('Geometria.otf'); }

*, html, h1, h2, h3, h4, h5, h6 {
	font-family: "geometria", sans-serif;
}

p {
  font-size: 1.8rem;
  margin-left: 10px;
  margin-top: 6px; }

hr {
  border-bottom: 1px solid #FD6800; }

h1,
h2,
h3 {
  color: #FD6800; }

.top-bar,
.top-bar ul {
    background-color: #FD6800; }
  .top-bar a {
    color: #FFF; }
  .top-bar a:hover {
    color: #da5900;
  }

#header-img {
  line-height: 40pt; }
